*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#container{
	width: 100%;
	height: 100%;
	font-size: 100%;
	min-width: 1280px;
}
/*导航栏开始*/
header{
	width: 100%;
	height: 50px;
	background-color: #f3f3f3;
	font-family: "微软雅黑";
}
nav img{
	width: 34px;
	height: 34px;
	margin-top: 8px;
	margin-left: 40px;
}
h1{
	font-size: 18px;
	display: inline-block;
	color: #676767;
	position: absolute;
	margin-top: 16px;
	margin-left: 5px;
}
nav ul{
	float: right;
	margin-right: 40px;
	list-style: none;
}
nav li{
	float: left;
	padding: 14px 18px;
	font-size: 14px;
	font-weight: bold;
	transition: all 0.3s;
}
nav li a{
	text-decoration: none;
	color: #676767;
}
.entry a{color: #eb4f38;}
.entry a:before{
	content: "";
	display: inline-block;
	width: 12px;
	height: 12px;
	background-image: url(images/denglu.png);
	background-size: 15px 15px;
	padding-right: 4px;
	overflow: hidden;
}
nav li:hover,nav li:active{
	color: #eb4f38;
	border-bottom: solid 3px #eb4f38;
}
/*导航栏结束*/
/*tit-box bg*/
#content{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}
.tit-box{
	width: 100%;
	height: 666px;
	background: url(images/sunshia.jpg);
	background-size: 100% auto;
}
.tit-box h2{
	font-family: Dotum,"微软雅黑",sans-serif;
	font-size: 42px;
	font-weight: bold;
	color: #435d96;
	text-transform: capitalize;
	position: absolute;
	top: 180px;
	left: 120px;
}
.tit-box .one{
	font-family: "方正行楷简体","微软雅黑";
	font-size: 24px;
	color: #435d96;
	position: absolute;
	top: 240px;
	left: 160px;
}
.tit-box .two{
	font-family: "方正行楷简体","微软雅黑";
	font-size: 24px;
	color: #435d96;
	position: absolute;
	top: 300px;
	left: 200px;
}
.tit-box a:link,.tit-box a:visited{
	display: inline-block;
	position: absolute;
	top: 360px;
	left: 240px;
	width: 320px;
	height: 60px;
	background-color: #eb4f38;
	border: solid 1px #eb4f38;
	text-decoration: none;
	text-align: center;
	line-height: 60px;
	font-family: "微软雅黑";
	font-size: 32px;
	color: #fff;
}
.tit-box a:hover,.tit-box a:active{
	background-color: transparent;
	color: #eb4f38;
	transition:all 0.4s;
}
/*tit-box-end*/
/*introduce-bg*/
.intro{
	width: 100%;
	height: 270px;
	font-size: 0;
	background-color: #fff;
}
.intro .tips{
	width: 25%;
	display: inline-block;
	margin-top: 70px;
}
.intro .tips i{margin-left: 50%;}
.intro .tips img{
	position: absolute;
	width: 40px;
	height: 40px;
	margin-left: -20px;
}
.intro .tips div{
	width: 100%;
	font-family: "微软雅黑";
	font-size: 16px;
	color: #767777;
	text-align: center;
	margin-top: 90px;
	border-right: solid 2px #767777;
}
.intro .tips:last-child div{ border: none;}
/*introduce-end*/
/*banner-bg*/
.banner{
	width: 100%;
	height: 320px;
	background-color: #eee;
	padding: 25px;
}
.banner-m{
	text-align: center;
}
.banner-m img{
	width: 125px;
	height: 125px;
	margin: 40px 0 20px;
}
.banner h3{
	font-family: "微软雅黑";
	font-size: 42px;
	color: #767777;
}
/*banner-end*/
/*search-bg*/
.search{
	width: 100%;
	height: 340px;
	background: url(images/search-bg.jpg);
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}
.search-m{
	text-align: center;
	padding: 20px;
}
.search-m h3{
	font-family: "微软雅黑";
	font-size: 20px;
	font-weight: lighter;
	color: #fff;
	margin-top: 30px;
}
.search-m span{
	display: inline-block;
	margin-top: 10px;
	width: 30px;
	height: 10px;
	border-top: 2px solid #fff;
	transition: width 0.4s ease-in-out;
} 
.search-m span:hover{
	width: 300px;
}
.search-m p{
	font-family: "宋体","微软雅黑";
	font-size: 12px;
	color: #fff;
	margin-top: 5px;
}
.search .select{
	margin-top: 45px;
}
.search .select input{
	width: 240px;
	height: 36px;
	background: url(images/down.jpg) no-repeat #fff scroll 95% 50%;
	style: none;
}
/*search-end*/