*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#container{
	width: 100%;
	height: 100%;
	font-size: 100%;
	min-width: 1280px;
}
/*导航栏开始*/
header{
	width: 100%;
	height: 50px;
	background-color: #f3f3f3;
	font-family: "微软雅黑";
}
nav img{
	width: 34px;
	height: 34px;
	margin-top: 8px;
	margin-left: 40px;
}
h1{
	font-size: 18px;
	display: inline-block;
	color: #676767;
	position: absolute;
	margin-top: 16px;
	margin-left: 5px;
}
nav ul{
	float: right;
	margin-right: 40px;
	list-style: none;
}
nav li{
	float: left;
	padding: 14px 18px;
	font-size: 14px;
	font-weight: bold;
	transition: all 0.3s;
}
nav li a{
	text-decoration: none;
	color: #676767;
}
.entry a{color: #eb4f38;}
.entry a:before{
	content: "";
	display: inline-block;
	width: 12px;
	height: 12px;
	background-image: url(images/denglu.png);
	background-size: 15px 15px;
	padding-right: 4px;
	overflow: hidden;
}
nav li:hover,nav li:active{
	color: #eb4f38;
	border-bottom: solid 3px #eb4f38;
}
/*导航栏结束*/
/*tit-box bg*/
#content{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}
.tit-box{
	width: 100%;
	height: 666px;
	background: url(images/sunshia.jpg);
	background-size: 100% auto;
}
.tit-box h2{
	font-family: Dotum,"微软雅黑",sans-serif;
	font-size: 42px;
	font-weight: bold;
	color: #435d96;
	text-transform: capitalize;
	position: absolute;
	top: 180px;
	left: 120px;
}
.tit-box .one{
	font-family: "方正行楷简体","微软雅黑";
	font-size: 24px;
	color: #435d96;
	position: absolute;
	top: 240px;
	left: 160px;
}
.tit-box .two{
	font-family: "方正行楷简体","微软雅黑";
	font-size: 24px;
	color: #435d96;
	position: absolute;
	top: 300px;
	left: 200px;
}
.tit-box a:link,.tit-box a:visited{
	display: inline-block;
	position: absolute;
	top: 360px;
	left: 240px;
	width: 320px;
	height: 60px;
	background-color: #eb4f38;
	border: solid 1px #eb4f38;
	text-decoration: none;
	text-align: center;
	line-height: 60px;
	font-family: "微软雅黑";
	font-size: 32px;
	color: #fff;
}
.tit-box a:hover,.tit-box a:active{
	background-color: transparent;
	color: #eb4f38;
	transition:all 0.4s;
}
/*tit-box-end*/
/*introduce-bg*/
.intro{
	width: 100%;
	height: 270px;
	font-size: 0;
	background-color: #fff;
}
.intro .tips{
	width: 25%;
	display: inline-block;
	margin-top: 70px;
}
.intro .tips i{margin-left: 50%;}
.intro .tips img{
	position: absolute;
	width: 40px;
	height: 40px;
	margin-left: -20px;
}
.intro .tips div{
	width: 100%;
	font-family: "微软雅黑";
	font-size: 16px;
	color: #767777;
	text-align: center;
	margin-top: 90px;
	border-right: solid 2px #767777;
}
.intro .tips:last-child div{ border: none;}
/*introduce-end*/
/*banner-bg*/
.banner{
	width: 100%;
	height: 320px;
	background-color: #eee;
	padding: 25px;
}
.banner-m{
	text-align: center;
}
.banner-m img{
	width: 125px;
	height: 125px;
	margin: 40px 0 20px;
}
.banner h3{
	font-family: "微软雅黑";
	font-size: 42px;
	color: #767777;
}
/*banner-end*/
/*search-bg*/
.search{
	width: 100%;
	height: 340px;
	background: url(images/search-bg.jpg);
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}
.search-m{
	text-align: center;
	padding: 20px;
}
.search-m h3{
	font-family: "微软雅黑";
	font-size: 20px;
	font-weight: lighter;
	color: #fff;
	margin-top: 30px;
}
.search-m span{
	display: inline-block;
	margin-top: 10px;
	width: 30px;
	height: 10px;
	border-top: 2px solid #fff;
	transition: width 0.4s ease-in-out;
} 
.search-m span:hover{
	width: 300px;
}
.search-m p{
	font-family: "宋体","微软雅黑";
	font-size: 12px;
	color: #fff;
	margin-top: 5px;
}
.search .select{
	margin-top: 50px;
}
.search .select input{
	width: 240px;
	height: 36px;
	margin: 0 10px;
	background: url(images/down.jpg) no-repeat #fff 95% 50%;
	border: solid 0.01px #eee;
	cursor: pointer;
}
.search .select button{
	width: 240px;
	height: 36px;
	margin: 0 10px;
	background-color: #c94e47;
	border: solid 0.01px #c94e47;
	color: #fff;
	font-family: "微软雅黑";
	font-size: 14px;
	cursor: pointer;
}
.search .select ul{
	display: inline-block;
	position: absolute;
	margin-top: 36px;
	margin-left: -258px;
	list-style: none;
	border: solid 1px #c94e47;
	border-top: 0;
	cursor: pointer;
}
.search .select li{
	display: inherit;
	width: 238px;
	height: 36px;
	background-color: #ddd;
	line-height: 36px;
}
.search .select li:hover{
	background-color: #c94e47;
	color: #fff;
}
.search .select li:hover:before{
	content: "√";
	position: absolute;
	left: 10px;
}
.search .select .selected{
	border: solid 1px #c94e47;
	border-bottom: 0;
}
/*search-end*/
/*show-bg*/
.show{
	width: 100%;
	height: 600px;
	background-color: #eee;
	text-align: center;
}
.show .show-m{
	display: inline-block;
	width: 230px;
	padding: 10px;
	margin: 100px 10px;
}
.show .show-m .pic-box{
	width: 210px;
	height: 300px;
	padding: 10px;
	border: solid 1px #ccc;
	background-color: #fff;
}
.show .show-m img{
	width: 190px;
	height: 280px;
}
.show .show-m h3{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #323333;
	margin: 10px 0;
}
.show .show-m p{
	font-family: "黑体";
	font-size: 14px;
	color: #767777;
	margin-bottom: 10px;
}
.show .show-m .big-font{
	font-size: 18px;
	color: #212222;
	margin-bottom: 5px;
	margin-left: 20px;
	letter-spacing: 20px;
}
/*show-end*/
/*poster-bg*/
.poster{
	width: 100%;
	height: 531px;
	background-color: #fff;
	font-size: 0;
	position: relative;
}
.poster .pos-pic{
	width: 67%;
	height: 531px;
	background: url(images/theworld1.jpg);
	background-size: 100% auto;
	display: inline-block;
	color: #fff;
	text-align: center;
	padding-top: 120px;
}
.poster .pos-pic h2{
	font-family: "微软雅黑",sans-serif;
	font-size: 32px;
}
.poster .pos-pic h3{
	font-family: "黑体",Dotum,sans-serif;
	font-size: 156px;
	font-weight: lighter;
	margin-top: -30px;
}
.poster .pos-pic p{
	font-family: "微软雅黑";
	font-size: 22px;
	margin: 20px 0;
}
.poster .pos-pic time{
	font-family: "黑体";
	font-size: 20px;
}
.poster .pos-pic:after{
	content: "";
	border-right: solid 30px #fff;
	border-top:  solid 20px transparent;
	border-bottom:  solid 20px transparent;
	position: absolute;
	left: 67%;
	top: 50%;
	margin-left: -30px;
}
.poster .pos-tips{
	display: inline-block;
	width: 33%;
	height: 531px;
	padding-top: 130px;
	float: right;
	text-align: center;
}
.poster .pos-tips h3{
	display: inline-block;
	font-family: "微软雅黑";
	font-size: 22px;
	color: #3d3d3d;
}
.poster .pos-tips span{ color: #eb3f38}
.poster .pos-tips p{
	width: 280px;
	margin: 30px auto;
	font-family: "宋体";
	font-size: 12px;
	color: #868888;
	line-height: 30px;
	text-align: left;
}
.poster .pos-tips a:link,.poster .pos-tips a:visited{
	display: inline-block;
	width: 120px;
	height: 36px;
	background-color: #fff;
	border: solid 1px #eb3f38;
	font-family: "微软雅黑";
	font-size: 16px;
	color: #eb3f38;
	text-decoration: none;
	text-align: center;
	line-height: 36px;
	transition: all 0.3s;
}
.poster .pos-tips a:hover,.poster .pos-tips a:active{
	background-color: #eb3f38;
	color: #fff;
}
.poster .pos-tips li{
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 30px 8px;
	list-style: none;
	border: solid 1px #767777;
	border-radius: 50%;
	cursor: pointer;
}
.poster .pos-tips li:first-child{ background-color: #767777;}
.poster .pos-tips li:hover{ background-color: #767777;}
/*poster-end*/
/*more-bg*/
.more{
	width: 100%;
	height: 500px;
	text-align: center;
	font-size: 0;
	position: relative;
}
.more .left{
	float:left;
	display: inline-block;
	width: 33%;
	height:500px;
	padding-top: 170px;
	background-color: #eb3f38;
}
.more h2{
	font-family: "微软雅黑";
	font-size: 22px;
	font-weight: lighter;
	color: #fff;
	margin-bottom: 15px;
}
.more span{
	display: inline-block;
	width: 30px;
	height: 10px;
	text-align: center;
	border-top: 2px solid #fff;
	transition: width 0.4s ease-in-out;
}
.more .left:hover span{
	width: 200px;
}
.more a:link,.move a:visited{
	display: inline-block;
	width: 176px;
	height: 42px;
	margin-top: 20px;
	background-color: #eb3f38;
	border: solid 1px #fff;
	font-family: "微软雅黑";
	font-size: 22px;
	color: #fff;
	text-decoration: none;
	line-height: 42px;
	transition: all 0.3s;
}
.more .left a:hover,.more .left a:active{
	background-color: #fff;
	color: #eb3f38;
}
.more .middle{
	float: left;
	display: inline-block;
	width: 34%;
	height: 500px;
	padding-top: 170px;
	background-color: #fff;
}
.more .middle span{ border-top: 2px solid #767777;}
.more .middle:hover span{ width: 200px;}
.more .middle h2{ color: #3d3d3d;}
.more .middle a:link,.more .middle a:visited{
	background-color: #fff;
	color: #eb3f38;
	border: solid 1px #eb3f38;
} 
.more .middle a:hover,.more .middle aactive{
	background-color: #eb3f38;
	color: #fff;
}
.more .right{
	float:left;
	display: inline-block;
	width: 33%;
	height: 500px;
	background: url(images/boat.jpg) no-repeat;
	background-size: 100% 500px;
}
.more .right:before{
	content: "";
	border-left: 30px solid #fff;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	position: absolute;
	left: 67%;
	top: 50%;
}
/*more-end*/
/*join-bg*/
.join{
	width: 100%;
	height: 640px;
	background-color: #fff;
	text-align: center;
	font-size: 0;
}
.join h2{
	font-family: "微软雅黑";
	font-size: 22px;
	color: #4d4d4d;
	margin-top: 140px;
}
.join span{
	display: inline-block;
	width: 30px;
	height: 10px;
	border-top: solid 2px #eb3f38;
	transition: width 0.4s ease-in-out;
}
.join span:hover{ width: 300px;}
.join h4{
	margin: 10px auto 100px;
	width: 550px;
	font-family: "黑体","宋体";
	font-weight: normal;
	font-size: 12px;
	color: #767777;
	line-height: 18px;
}
.join .rule{
	display: inline-block;
	margin-right: 40px;
	width: 300px;
	height: 320px;
	text-align: left;
}
.join .rule .rule-m{ 
	margin-bottom: 30px;
}
.join .rule h3{
	font-family: "微软雅黑";
	font-size: 16px;
	color: #5d5d5d;
	margin-bottom: 26px;
}
.join .rule p{
	font-family: "黑体","宋体";
	font-size: 12px;
	color: #767777;
	line-height: 22px;
}
.join .rule .rule-m:after{
	content: "v more";
	font-family: "黑体";
	font-size: 11px;
	color: #767777;
	position: absolute;
	margin-left: 255px;
	cursor: pointer;
}
.join .joinin{
	display: inline-block;
	width: 600px;
	height: 320px;
	vertical-align: top;
}
.join .joinin input{
	width: 280px;
	height: 40px;
	background-color: #eee;
	border: 0;
	margin: 0 6px 12px 6px;
	text-indent: 18px;
	font-family: "微软雅黑";
}
.join .joinin textarea{
	width: 572px;
	height: 152px;
	margin-bottom: 12px;
	padding-top: 8px;
	background-color: #eee;
	border: 0;
	text-indent: 18px;
	text-indent: 18px;
	font-family: "微软雅黑";
	text-transform: none;
}
.join .joinin button{
	width: 572px;
	height: 40px;
	background-color: #eee;
	border: 0;
	font-family: "微软雅黑";
	font-size: 16px;
	color: #323232;
	cursor: pointer;
}
/*join-end*/
/*contact-bg*/
.contact{
	width: 100%;
	height: 340px;
	background-color: #33363f;
	text-align: center;
	padding: 90px;
}
.contact h2{
	font-family: "微软雅黑";
	font-size: 22px;
	font-weight: normal;
	color: #fff;
}
.contact p{
	font-family: "黑体";
	font-size: 12px;
	color: #fff;
	line-height: 18px;
	margin-top: 10px;
	margin-bottom: 25px;
}
.contact .input input{
	width: 400px;
	height: 40px;
	border: 0;
	padding: 10px;
}
.contact .input button{
	width: 100px;
	height: 40px;
	border: 0;
	background-color: #545454;
	color: #fff;
	cursor: pointer;
}
.contact .input button:active{ background-color: #323232;}
.contact img{
	width: 30px;
	height: 30px;
	margin:  25px 10px;
	cursor: pointer;
}
/*contact-end*/
/*footer-bg*/
footer{
	width: 100%;
	height: 60px;
	background-color: #30303a;
	clear: both;
}
footer .copy{
	font-family: "微软雅黑";
	font-size: 12px;
	color: #fff;
	line-height: 60px;
	margin-left: 50px;
}
footer .top a{
	font-family: "微软雅黑";
	font-size: 10px;
	color: #fff;
	line-height: 60px;
	text-decoration: none;
	float: right;
	margin-right: 20px;
}
/*footer-end*/